@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Benedict', serif;
        src: url("../assets/Benedict-Regular.otf") format('opentype');
    }
    
    @font-face {
        font-family: 'MoonTime', serif;
        src: url("../assets/MoonTime-Regular.ttf") format('truetype');
        src: url("../assets/MoonTime-Regular.otf") format('opentype');
    }
}

h1, h2{
    font-size: larger;
    font-weight: 600;
}

h3{
    font-size: medium;
    font-weight: 600;
}
input, select{
    margin: 5px 10px;
    cursor: pointer;
}

button, [type="button"], [type="reset"], [type="submit"]{
    padding: 5px 5px;
    background-color: rgb(173, 184, 184);
    border-radius: 2%;
    margin-right: 3px;
}

button:hover{
    background-color: bisque;
}

label, label[for]{
    cursor: pointer;
}

div[draggable] span{
    cursor: grab;
}

#physique{
    background-image: url(../public/form/dispo.png);
    background-size: contain;
    background-repeat: no-repeat;
}
