@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base{
    @font-face {
        font-family: 'Benedict', serif;
        src: url("../assets/Benedict-Regular.otf") format('opentype');
    }
    
    @font-face {
        font-family: 'MoonTime', serif;
        src: url("../assets/MoonTime-Regular.ttf") format('truetype');
        src: url("../assets/MoonTime-Regular.otf") format('opentype');
    }
} */

h1, h2{
    font-size: larger;
    font-weight: 600;
}

h3{
    font-size: medium;
    font-weight: 600;
}
input, select{
    margin: 5px 10px;
    cursor: pointer;
}

button, [type="button"], [type="reset"], [type="submit"]{
    padding: 15px 7px;
    background-color: #AA5CB7;
    border-radius: 5%;
    margin-right: 3px;
    color: white;
}

button:hover{
    background-color: #625240;
}

label, label[for]{
    cursor: pointer;
}

div[draggable] span{
    cursor: grab;
}

#physique{
    background-image: url("/form/dispo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#physique label{
    width: 10px;
    height: 30px;
}

#tableMonPlan input{
    width: 100%;
    margin: 0;
    height: 100%;
    cursor: text;
    padding: 0px 10px;
    font-size: small;
}

#tableMonPlan input:focus{
    outline: none;
}

#tableMonPlan td{
    height: 40px;
    padding: 5px;
    width: max-content;
}
