.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  min-height: calc(100vh - 75px);
  width: 100%;
  flex-grow: 1;
  /* background-color: coral; */
}
.options{
  width: 80px;
  height: 80px;
  background-color: rgb(173, 184, 184);
  border-radius: 40px;
  margin-right: 3px;
  color: white;
}